{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Add New Property</h1>

<form id="property-form" action="{{ url_for('new_property') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="input-group">
        <p class="form-title">{{ form.title.label }}</p>
        {{ form.title(class="form-inputs") }}
    </div>
    
    <div class="input-group">
        <p class="form-title">{{ form.description.label }}</p>
        {{ form.description(class="form-inputs") }}
    </div>
    
    <div class="grid">
        <div class="input-group">
            <p class="form-title">{{ form.rooms.label }}</p> 
            {{ form.rooms(class="form-inputs") }}
        </div>
        
        <div class="input-group">
            <p class="form-title">{{ form.bathrooms.label }}</p> 
            {{ form.bathrooms(class="form-inputs") }}
        </div>
        
        <div class="input-group">
            <p class="form-title">{{ form.price.label }}</p> 
            {{ form.price(class="form-inputs") }}
        </div>
        
        <div class="input-group">
            <p class="form-title">{{ form.type.label }}</p>
            {{ form.type(class="form-inputs") }}
        </div>
    </div>
    
    <div class="input-group">
        <p class="form-title">{{ form.location.label }}</p>
        {{ form.location(class="form-inputs") }}
    </div>
   
    <div class="input-group">
        <p class="form-title">{{ form.photo.label }}</p>
        {{ form.photo(class="form-inputs") }}
    </div>
    <br>
    <button name="submit" type="submit" class="btn">Add Property</button>
</form>

{% endblock %}